h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#curencyCon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
#option{
    margin-right: 15px;
    font-size: 18px;
}
#main{
    border: .5px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-top:100px;
    height: 400px;
    width: 600px;
    box-shadow: 6px 6px 6px grey;
    background-color: white;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1e5ea;
}